@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1f2937;
}

.container {
  width: 600px;
  height: 550px;
  margin: 60px auto;
  background-color: #273549;
  font-family: "Karla", sans-serif;
}

.container h1 {
  color: #4adf86;
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -2.5%;
  padding-top: 115px;
  padding-left: 52px;
  background-color: transparent;
}

span {
  display: block;
  color: #ffffff;
  background-color: transparent;
}

p {
  color: #d5d4d8;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  padding-left: 52px;
  margin-top: 10px;
  background-color: transparent;
}

.btn {
  background-color: #4adf86;
  color: white;
  padding: 9px 17px 9px 15px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-left: 52px;
  margin-top: 60px;
  outline: none;
  border: none;
}

.btn:active {
  position: relative;
  top: 1px;
}

.line {
  border: 1px solid #2f3e53;
  margin-left: 52px;
  margin-right: 52px;
  margin-top: 35px;
}

#passwordOne,
#passwordTwo {
 width: 30%;
 height: 8%;
  margin-top: 35px;
  margin-right: 52px;
  background-color: #2f3e53;
  color: #4adf86;
}
